In [3]:
import pandas as pd
import os

# Define the directory where the CSV files are stored
csv_directory = r"C:\Users\ASUS\Downloads\archive"  # Replace with the path where your CSV files are stored

# List to hold dataframes from all CSV files
dataframes = []

# Loop over each file in the directory
for filename in os.listdir(csv_directory):
    if filename.endswith(".csv"):
        file_path = os.path.join(csv_directory, filename)
        # Read each CSV file into a pandas dataframe
        df = pd.read_csv(file_path)
        # Add a new column to identify the category based on filename (optional)
        df['source_category'] = filename.replace('.csv', '')  # Optional: file name as a category identifier
        # Append the dataframe to the list
        dataframes.append(df)

# Concatenate all dataframes into a single dataframe
combined_df = pd.concat(dataframes, ignore_index=True)

# Write the combined dataframe to a new CSV file
combined_df.to_csv('combined_amazon_products.csv', index=False)

print("All CSV files have been successfully combined into 'combined_amazon_products.csv'")

All CSV files have been successfully combined into 'combined_amazon_products.csv'

In [4]:
pwd

'C:\\Users\\ASUS\\Downloads'

In [5]:
import pandas as pd
import numpy as np

# Load the Amazon dataset and Indian cities dataset
amazon_df = pd.read_csv("combined_amazon_products.csv")
cities_df = pd.read_csv("Indian Cities Database.csv")

# Assign each product to a random city from the Indian cities dataset
num_products = amazon_df.shape[0]
random_cities = cities_df.sample(n=num_products, replace=True).reset_index(drop=True)

# Add the city information (name, latitude, longitude) to the Amazon dataset
amazon_df['city'] = random_cities['City']
amazon_df['latitude'] = random_cities['Lat']
amazon_df['longitude'] = random_cities['Long']

# Check the result
print(amazon_df.head())

                                                name main_category  \
0  Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...    appliances
1  LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...    appliances
2  LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...    appliances
3  LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...    appliances
4  Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...    appliances

       sub_category                                              image  \
0  Air Conditioners  https://m.media-amazon.com/images/I/31UISB90sY...
1  Air Conditioners  https://m.media-amazon.com/images/I/51JFb7FctD...
2  Air Conditioners  https://m.media-amazon.com/images/I/51JFb7FctD...
3  Air Conditioners  https://m.media-amazon.com/images/I/51JFb7FctD...
4  Air Conditioners  https://m.media-amazon.com/images/I/41lrtqXPiW...

                                                link ratings no_of_ratings  \
0  https://www.amazon.in/Lloyd-Inverter-Convertib...     4.2         2,255
1  https://www.amazon.in/LG-Convertible-Anti-Viru...     4.2         2,948
2  https://www.amazon.in/LG-Inverter-Convertible-...     4.2         1,206
3  https://www.amazon.in/LG-Convertible-Anti-Viru...     4.0            69
4  https://www.amazon.in/Carrier-Inverter-Split-C...     4.1           630

  discount_price actual_price   source_category  Unnamed: 0           city  \
0        ₹32,999      ₹58,990  Air Conditioners         NaN    Tirunelveli
1        ₹46,490      ₹75,990  Air Conditioners         NaN       Khanapur
2        ₹34,490      ₹61,990  Air Conditioners         NaN        Belgaum
3        ₹37,990      ₹68,990  Air Conditioners         NaN  Malegaon Camp
4        ₹34,490      ₹67,790  Air Conditioners         NaN   Rajapalaiyam

    latitude  longitude
0   8.725181  77.684519
1  21.273716  76.117376
2  15.862643  74.508534
3  20.569974  74.515415
4   9.451111  77.556121

In [9]:
amazon_df.to_csv('dataset.csv', index=False)

In [10]:
import geopy

In [12]:
from geopy.distance import geodesic

# Example of user's real-time location (e.g., user in Mumbai)
user_location = (19.0760, 72.8777)  # (latitude, longitude)

# Define a function to calculate distance
def calculate_distance(row, user_location):
    product_location = (row['latitude'], row['longitude'])
    return geodesic(user_location, product_location).kilometers

# Apply the function to calculate distance and add a new feature 'distance_to_user'
amazon_df['distance_to_user'] = amazon_df.apply(lambda row: calculate_distance(row, user_location), axis=1)

# Check the updated dataset with distance feature
print(amazon_df[['name', 'city', 'distance_to_user']].head())

                                                name           city  \
0  Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...    Tirunelveli
1  LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...       Khanapur
2  LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...        Belgaum
3  LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...  Malegaon Camp
4  Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...   Rajapalaiyam

   distance_to_user
0       1257.207201
1        416.957967
2        395.567365
3        238.300799
4       1178.235223

In [13]:
amazon_df.to_csv('dataset.csv', index=False)

In [14]:
list(amazon_df.columns)

['name',
 'main_category',
 'sub_category',
 'image',
 'link',
 'ratings',
 'no_of_ratings',
 'discount_price',
 'actual_price',
 'source_category',
 'Unnamed: 0',
 'city',
 'latitude',
 'longitude',
 'distance_to_user']